@font-face {
    font-family: 'FiraCode';
    src:  url('../../fonts/FiraCode-Regular.woff2') format('woff2'),
          url('../../fonts/FiraCode-Regular.woff') format('woff');
}

body {
  /* 337 x 5 */
  background: #0f0f23;
  /* background: #23241f;  */
  
  color: #cccccc;
  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 14pt;
  min-width: 60em;
}
img { border:0; }
a { outline:0; }
main, figure, figcaption { display:block; }
pre, code { font-family: "FiraCode","Source Code Pro", monospace; }
header, main {
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: #009900;
}
a:hover {
  color: #99ff99;
}
h1, h2 {
  font-size: 1em;
  font-weight: normal;
}
code {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
code:before {
  z-index: -1;
  content: "";
  position: absolute;
  display: block;
  left: -2px;
  right: -2px;
  top: 3px;
  bottom: 0px;
  /* border: 1px solid #333340; */
  background: #10101a;
}
pre.wrap {
  max-width: 100%;
  white-space: pre-wrap;
}

.quiet {
  opacity: .5;
}
p.wrap {
  width: 45em;
}

.hidden {
  border: 1px dotted gray;
  overflow: hidden;
  position: relative;
  padding: 0 .5em;
}
.hidden:before {
  content: "(hover to view)";
  position: absolute;
  opacity: .5;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
}
.hidden > * {
  visibility: hidden;
}
.hidden:hover {
  border-color: transparent;
}
.hidden:hover:before {
  display: none;
}
.hidden:hover > * {
  visibility: visible;
}

.warning:not(.warning-active) {
  transition: color 1s, opacity 1s;
}
.warning-active {
  color: #ff0000;
  opacity: 1;
}

.supporter-badge {
  color: #ffff66;
}
a.supporter-badge:hover {
  text-decoration: none;
  color: #ffffcc;
  text-shadow: 0 0 5px #ffff66;
}
.sponsor-badge {
  color: #79a2d8;
}
a.sponsor-badge:hover {
  text-decoration: none;
  color: #ccdbed;
  text-shadow: 0 0 5px #79a2d8;
}

#sidebar {
  width: 200px;
  float: right;
  margin: 0 15px 2em 2em;
}
#sponsor {
  margin-bottom: 2.5em;
}

header {
  white-space: nowrap;
  cursor: default;
  z-index: 100;
  margin-bottom: 1em;
  /* margin-bottom: 2em; */
}
header h1 {
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}
header h1 a, header h1 span {
  display: inline-block;
  text-decoration: none;
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
header h1 a:hover {
  color: #99ff99;
  text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}
header h1.title-event .title-event-wrap {
  opacity: .33;
  white-space: pre;
}
header .user {
  display: inline-block;
  padding-left: 1em;
}
header .user .star-count {
  color: #ffff66;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
header nav li {
  display: inline-block;
  padding: 0 .6em;
}
header nav a {
  /* display: inline-block; */
  text-decoration: none;
  outline: none;
}


main nav {
  display: inline-block;
}

main nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

main nav li {
  display: inline-block;
  padding: 0 .6em;
}


input[type="text"], textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #666666;
  /* background: #10101a; */
  background: #0f0f23;
  padding: 0 2px;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

textarea {
  vertical-align: top;
}

label img {
  vertical-align: bottom;
  position: relative;
  top: -3px;
  margin-right: .3em;
}
input[type="radio"] { display: none; }
input[type="radio"] ~ span {
  cursor: pointer;
  display: inline-block;
}
input[type="radio"] ~ span:before {
  content: "( ) ";
}
input[type="radio"] ~ span:hover {
  background-color: #19193b;
}
input[type="radio"]:checked ~ span {
  color: #ffffff;
}
input[type="radio"]:checked ~ span:before {
  content: "(O) ";
}
input[type="checkbox"] { display: none; }
input[type="checkbox"] ~ span {
  cursor: pointer;
  display: inline-block;
}
input[type="checkbox"] ~ span:before {
  content: "[ ] ";
}
input[type="checkbox"] ~ span:hover {
  background-color: #19193b;
}
input[type="checkbox"]:checked ~ span {
  color: #ffffff;
}
input[type="checkbox"]:checked ~ span:before {
  content: "[X] ";
}
input[type="checkbox"]:disabled ~ span {
  opacity: .3;
  cursor: default;
}
input[type="checkbox"]:disabled ~ span:before {
  content: "[-] ";
}
input[type="checkbox"]:disabled ~ span:hover {
  background-color: transparent;
}


input[type="submit"] {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: #009900;
  cursor: pointer;
}
input[type="submit"]:hover {
  color: #99ff99;
}
*::-moz-focus-inner {
  padding: 0;
  border: 0
}

article {
  width: 45em;
  margin-bottom: 2em;
  margin-top: 2em;
}
article:first-child {
  margin-top: 0;
}
article h2 {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
}
article h2 + * {
  margin-top: 0;
}
article em {
  color: #ffffff;
  font-style: normal;
  text-shadow: 0 0 5px #ffffff;
}
article em.star {
  color: #ffff66;
  font-style: normal;
  text-shadow: 0 0 5px #ffff66;
}
article a {
  white-space: nowrap;
}
article .aside {
  opacity: .6;
}
article ul {
  list-style-type: none;
  padding: 0;
}
article li {
  padding-left: 2.5em;
  position: relative;
}
article li:before {
  content: "\00a0\00a0-\00a0";
  position: absolute;
  left: 0;
  top: 0;
}
.day-success {
  color: #ffff66;
  text-shadow: 0 0 5px #ffff66;
}

form#settings input[type="radio"] ~ span {
  min-width: 30em;
}
form#settings input[type="checkbox"] ~ span {
  min-width: 30em;
}

.share {
  color: #009900;
  cursor: default;
  transition: color .2s 1s;
  /*position: relative;*/
}
.share:hover {
  color: #aaffaa;
  transition: color .2s 0s;
}
.share .share-content {
  /*position: absolute; background: #0f0f23;*/
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  transition: max-width .2s 1s;
}
.share .share-content:before {
  content: "\00a0";
}
.share .share-content:after {
  /*content: "]";*/
}
.share:hover .share-content {
  max-width: 45em;
  transition: max-width .2s 0s;
}

.puzzle-input {
  border: 1px solid #999999;
  background: #333333;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}

.calendar {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.calendar > span {
  color: #333333;
}
.calendar > a {
  text-decoration: none;
  color: #666666;
  outline: none;
  cursor: default;
}
.calendar a:hover {
  background-color: #1e1e46;
  background-color: rgba(119,119,165,.2);
  cursor: pointer;
}
#calendar-countdown {
  padding-left: .5em;
  color: #cccccc;
}
.calendar .calendar-day { color: #666666; }
.calendar a .calendar-day { color: #cccccc; }
.calendar a .calendar-mark-complete,
.calendar a .calendar-mark-verycomplete { visibility: hidden; }
.calendar a.calendar-complete     .calendar-mark-complete,
.calendar a.calendar-verycomplete .calendar-mark-complete { visibility: visible; color: #ffff66; }
.calendar a.calendar-verycomplete .calendar-mark-verycomplete { visibility: visible; color: #ffff66; }

.calendar .calendar-day-new               { animation: anim-day-new 5s; }
.calendar .calendar-day-new .calendar-day { animation: anim-day-new-day 5s; }
@keyframes anim-day-new {
  0%   { color: #333333; text-shadow: 0 0 5px transparent; }
  25%  { color: #ffffff; text-shadow: 0 0 5px #ffffff; }
  100% { color: #666666; text-shadow: 0 0 5px transparent; }
}
@keyframes anim-day-new-day {
  0%   { color: #666666; text-shadow: 0 0 5px transparent; }
  25%  { color: #ffffff; text-shadow: 0 0 5px #ffffff; }
  100% { color: #cccccc; text-shadow: 0 0 5px transparent; }
}

.stats > span, .stats > span .stats-firstonly, .stats > span .stats-both {
  color: #666666;
}
.stats > a {
  color: #cccccc;
  min-width: 35em;
  display: inline-block;
}
.stats > a:hover {
  background-color: #1e1e46;
}
.stats-firstonly {
  color: #666699;
}
.stats-both {
  color: #ffff66;
}

.leaderboard-daylinks {
  cursor: default;
}
.leaderboard-daylinks-selected {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}
.leaderboard-daydesc-first {
  color: #666699;
}
.leaderboard-daydesc-both {
  color: #ffff66;
}
.leaderboard-entry {
  white-space: pre;
}
.leaderboard-entry .leaderboard-totalscore {
  color: #ffffff;
}
.leaderboard-anon {
  opacity: .6;
}
.leaderboard-userphoto {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 .5em;
  text-align: center;
}
.leaderboard-userphoto img {
  height: 20px;
  max-width: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.leaderboard-time {
  opacity: .5;
}

.privboard-row {
  white-space: pre;
}
.privboard-row .star-count {
  color: #ffff66;
}
.privboard-name {
  vertical-align: text-bottom;
}
.privboard-days > span    { display: inline-block; color: #333333; }
.privboard-days > a       { display: inline-block; }
.privboard-star-locked    { visibility: hidden; }
.privboard-star-unlocked  { color: #333333; }
.privboard-star-firstonly { color: #666699; }
.privboard-star-both      { color: #ffff66; }
.privboard-delbtn { opacity:.33; }
.privboard-row:hover .privboard-delbtn { opacity:1; }

.sponsors {
  width: 46em; /*76 characters*/
}
.sponsor {
  margin: 1em 0;
}



/* ---------------------------------------------------------------- */
/* body {
  margin: 0;
} */

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* min-height: 100vh; */
  /* background: yellow; */
}

.header-container {
  /* background: red; */
  height: 40px;
  /* margin-bottom: 1em; */
}

.hg {
  /* background: blue; */
  flex: auto;
  display: flex;
  flex-direction: row;
}

.hg-left {
  /* background: brown; */
  /* flex: auto; */
  width: 35%;
  max-width: 35%;

  display: flex;
  flex-direction: column;
}

/* .hg-left-a {
  height: 80px;
} */

.hg-left-b {
  /* background: orange; */
  flex: auto;
  display: flex;

  overflow-y: scroll;
}

.hg-left-c {
  /* background: lightblue; */
  height: 30px;
  /* margin-bottom: 1em; */
}

.hg-left-d {
  /* background: lightcoral; */
  height: 40px;
  /* margin-bottom: 1em; */

  position: relative;
  /* min-height: 150px;   */
}


.hg-right {
  /* background: green; */
  flex: auto;

  display: flex;
  flex-direction: column;

  /* border-left: 1px dotted #009900; */
}

.hg-right-a {
  /* background: #0f0f23; */
  /* height: 40%; */
  flex: auto;
  /* background: pink; */
}

.hg-right-b {
  /* background: blue; */
  /* border-top: 1px dotted #009900; */

  height: 60%;
  max-height: 60%;
  /* flex: auto; */
  display: flex;
  flex-direction: row;
}

#hg-right-b-a { 
  width:66.6%;
  /* width:30%; */ 
  /* flex: auto; */
  /* background: white; */

  display: flex; 
  flex-direction: column;
}


/* #hg-right-b-b-parent { 
  flex: auto;
}

#hg-right-b-b { 
  overflow-y: scroll;
} */


#hg-right-b-b { 
  flex: auto;
  /* flex-grow: 1; */
  /* background: red; */
  /* border-left: 1px dotted #009900; */

  /* overflow-y: scroll; */
}


#hg-right-b-b-data { 

  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 10pt;
  margin:0; 
  padding:0;
  color: #009900;
  /* text-align: center; */
  

  width:100%;
  height:100%; 
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */

  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

#hg-right-x { 
  /* background: orange; */
  height: 50%;

  display: flex; 
  flex-direction: row;

}

#hg-right-x-a { 
  /* background: blue; */
  width: 60%;
}

#hg-right-x-b { 
  /* background: pink; */
  flex: auto;
}


#hg-right-y { 
  /* background: brown; */
  flex: auto;
  flex-grow: unset;
  /* border-top: 1px dotted #009900; */

  max-height: 50%;

  overflow-x: scroll;
  overflow-y: scroll;

}


#codeArea {
  /* float:left; */
  /* font-family: monospace; */
  /* font-size: larger; */
  /* height: 50em; */
  /* height: 100%; */
  width: 100%;
  /* max-width: 111ex; */
  /* background-color: #23241f; */
  /* color: white; */
  /* color: #009900; */
  /* border-top: 1px dotted #009900; */
  /* border-left: none; */
  /* border-right: none; */
  /* border: none; */
  /* border-style: dotted; */

  /* background-image: linear-gradient(to right, #009900 22%, #23241f 0%);
  background-position: top;
  background-size: 3px 1px;
  background-repeat: repeat-x; */

  /* margin-top: 1em; */

  font-size: 12pt;

  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

button {
  border: 0;
  background: none;
  /* box-shadow: none; nav */ 
  border-radius: 0px;
  /* color: #bfffb3; */
  /* background-color: co nav*/
  /* height: 3em; */
  /* width: 10em; */

  /* text-decoration: non nav*/
  /* text-decoration: und nav*/
  color: #009900;
  outline: 0;

  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 14pt;
}

button:hover { 
  /* background-color: yellow; */
  color: #99ff99;
}


#CopyrightP {
  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 8pt;
  /* margin:0;  */
  /* padding:0; */

  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  /* background: #99ff99; */

  /* color: #009900; */

  /* display: table-cell;
  text-align: center;
  vertical-align: middle; */

  text-align: center;

  line-height: 14px;
  /* height:75px; */
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  /* border: 1px solid #f00;   */
}

#Copyright {
    font-family: "FiraCode", "Source Code Pro", monospace;
    font-size: 8pt;
    margin:0; 
    padding:0;
    color: #009900;
    text-align: center;
    vertical-align: middle;
}

#Copyright:hover {
  color: #99ff99;
}

#codeHighlightPre {
  /* float:left; */

  display: none;
  margin:0; 
  padding:0;
  width: 100%;
  height:100%;

  overflow-y: scroll;
}

#codeHighlight {
  /* float:left; */
  margin:0; 
  padding:0;
  width: 100%;
  height:100%;
  max-width: 100%;

  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 12pt;
  background: #0f0f23;

  overflow-y: scroll;

  /* -webkit-box-sizing: border-box; Safari/Chrome, other WebKit */
  /* -moz-box-sizing: border-box;    Firefox, other Gecko */
  /* box-sizing: border-box;         Opera/IE 8+ */
}






/* #outputPre {
    margin:0; 
    padding:0;
    width: 100%;
    height:100%;
  }
  
  #output {
    width: 100%;
    height: 100%;
    margin:0; 
    padding:0;
    font-family: "FiraCode", "Source Code Pro", monospace;
    font-size: 10pt;
    background: #0f0f23;
} */
  

/* p {
    font-family: "FiraCode", "Source Code Pro", monospace;
    font-size: 12pt;
    margin:0; 
    padding:0;
} */


#Status {
  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 10pt;
  margin:0; 
  padding:0;
  color: #009900;
  /* text-align: center; */
}

#Attribute {
    font-family: "FiraCode", "Source Code Pro", monospace;
    font-size: 20pt;
    margin:0; 
    padding:0;
    color: #009900;
    /* text-align: center; */
  }
  

#OutputMsg {
  font-family: "FiraCode", "Source Code Pro", monospace;
  font-size: 10pt;
  margin:0; 
  padding:0;
}


.caret {
    font-family: "FiraCode", "Source Code Pro", monospace;
    font-size: 14pt;
    /* font-style: italic; */
    /* font-style: oblique; */
    /* text-decoration: line-through; */
    
    color: #009900;
}

.nested {
    display: block;
    padding-left: 20px;
}


.linested {
    display: block;
}


#list {
    list-style-type: none;
    display: block;
}



::-webkit-scrollbar {
    display: none;
}


/* mark {
  background-color: #99ff99;
} */








/* 
Martín Aimar [5:23 PM]
guarda con el height: 100vh porque más de una vez en realidad eso tiene que ser min-height


Sergio Daniel Xalambrí [5:35 PM]
:point_up:
la otra opción es poner `overflow-y: auto` para que tenga su propio scroll
si el contenido supera el alto del contenedor */




