<!--
Copyright Fernando Pelliccioni 2019-2021

Distributed under the Boost Software License, Version 1.0. (See accompanying
file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About - Algorithms</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/algorithms/style.css">
  <link href="/favicon.png" rel="icon">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <header>
            <h1 class="title-global">
                <!-- <a href="/algorithms">Algorithms &#120572;</a>-->
                <a href="/algorithms">al-Khw&#257;rizm&#299; (&#120572;)</a>
            </h1>
            <nav>
                <ul>

                    <li><a href="/algorithms-about/">[About]</a></li>
                    <li><a href="/algorithms-support/">[Support]</a></li>
                    <!-- <li><a href="/algorithms-stdlib/">[Std Lib]</a></li> -->
                    <li><a href="/algorithms-catalog/">[Catalog]</a></li>
                    <li><a href="/algorithms-course/">[Course]</a></li>
                    <li><a href="/">[Components Programming]</a></li>

                    <!-- <li><a href="https://componentsprogramming.com/algorithms-help/">[Help]</a></li> -->
                </ul>
            </nav>
            </header>
        </div>
        <div class="hijo-grande">
                <main>
                        <article>
                        <p>Hello!</p>
                        <p>I am <a href="https://componentsprogramming.com/about-me/">Fernando Pelliccioni</a>. I am the author of al-Khw&#257;rizm&#299;. </p>
                        <p>I also do other jobs: I am a C++ systems programmer, a Bitcoin (and other cryptos) full-node maintainer, and <a href="https://github.com/tao-cpp/algorithm">I am a fan of algorithms</a>. You can find me on <a href="https://twitter.com/ferpelliccioni">Twitter</a> and <a href="https://github.com/fpelliccioni">GitHub</a>.</p>

                        <p><a href="https://en.wikipedia.org/wiki/Muhammad_ibn_Musa_al-Khwarizmi">al-Khw&#257;rizm&#299;</a> was a Persian mathematician whose name gave rise to the word <i><em>algorithm</em></i>, among others. So to honor him, I created <em>al-Khw&#257;rizm&#299;</em>, which is a is a graphical tool that helps to analyze algorithms that operate on <u>sequential data structures</u>.</p>

                        <p>The style of code and the way of drawing the data structures follow the <a href="https://en.wikipedia.org/wiki/Standard_Template_Library">STL</a> and <a href="http://elementsofprogramming.com/">EoP</a> tradition of <a href="https://en.wikipedia.org/wiki/Alexander_Stepanov">Alexander Stepanov</a>.</p>
                        <p>Because the Javascript programming language can be very easily interpreted in an Internet browser, I have decided to use this language and not C++ or any other. So you will have to translate your code into Javascript, respecting a few conventions.</p>

                        <p>If you'd like to support al-Khw&#257;rizm&#299;, you can do so indirectly by helping to <span class="share">[Share<span class="share-content">on
                          <a href="https://twitter.com/intent/tweet?text=Algorithms+GUI+helper+at+al-Khwarizmi&amp;url=http%3A%2F%2Fcomponentsprogramming.com%2Falgorithms%2F&amp;related=ferpelliccioni&amp;hashtags=algorithm" target="_blank">Twitter</a>
                        <a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcomponentsprogramming.com%2Falgorithms%2F&amp;title=Algorithms+GUI+helper+at+al-Khwarizmi" target="_blank">Reddit</a
                        ></span>]</span> it with others, or directly via <a href="/algorithms-support/">PayPal or Coinbase</a>.</p>


                        <h2>--- Credits ---</h2>

                        <p>Idea &amp; Code: <a href="https://twitter.com/ferpelliccioni">Fernando Pelliccioni</a></p>
                        <p>Design: taken from <a href="https://adventofcode.com/">Advent of Code</a>, by <a href="https://twitter.com/ericwastl">Eric Wastl</a></p>
                                                </article>
                        </main>
        </div>
    </div>
</body>
</html>

