<!-- 
Copyright Fernando Pelliccioni 2019

Distributed under the Boost Software License, Version 1.0. (See accompanying
file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt) 
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Support - Algorithms</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/algorithms/style.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <header>
            <h1 class="title-global">
                <!-- <a href="/algorithms">Algorithms &#120572;</a>-->
                <a href="http://componentsprogramming.com/algorithms">al-Khw&#257;rizm&#299; (&#120572;)</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="http://componentsprogramming.com/algorithms-about/">[About]</a></li>
                    <li><a href="http://componentsprogramming.com/algorithms-support/">[Support]</a></li>
                    <li><a href="http://componentsprogramming.com/">[Components Programming]</a></li>
                    <!-- <li><a href="http://componentsprogramming.com/algorithms-help/">[Help]</a></li> -->
                </ul>
            </nav>
            </header>
        </div>
        <div class="hijo-grande">
            <main>
                <article>
                <p>al-Khw&#257;rizm&#299; is <em>free</em> to use.</p>
                <p>However, building and running al-Khw&#257;rizm&#299; takes a significant amount of my time and energy. If you like al-Khw&#257;rizm&#299;, would like more things like it in the future, and are able to do so, <em>please support al-Khw&#257;rizm&#299;</em>.</p>
                <p>Your contributions support:</p>
                <ul>
                <li>Infrastructure (hosting, bandwidth, etc)</li>
                <li>Time spent running al-Khw&#257;rizm&#299; events</li>
                <li>More future projects</li>
                </ul>
                <p>You can support al-Khw&#257;rizm&#299; via <a href="https://www.paypal.me/algorismi/5" target="_blank">[PayPal]</a>, <a href="https://commerce.coinbase.com/checkout/6c06a644-c63c-489e-a78b-654bdb137541" target="_blank">[Coinbase]</a> or a direct <a href="http://componentsprogramming.com/donate-bch/" target="_blank">[Bitcoin Cash]</a> payment.</p>
                <p class="quiet wrap">(Amounts under $1 barely reach me after fees and will not confer a badge. Please be patient; some transactions, especially using cryptocurrencies, can take an hour or two to complete.)</p>
                </article>
            </main>        
        </div>
    </div>
</body>
</html>
