<!-- 
Copyright Fernando Pelliccioni 2019

Distributed under the Boost Software License, Version 1.0. (See accompanying
file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt) 
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Algorithms</title>
  <link href="/favicon.png" rel="icon">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/algorithms/style.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/algorithms/styles/monokai-sublime.css">
  <script src="{{ site.url }}/assets/js/algorithms/highlight.pack.js"></script>
  <script src="{{ site.url }}/assets/js/algorithms/two.min.js"></script>
  <script src="{{ site.url }}/assets/js/algorithms/test.js"></script>
  <script src="{{ site.url }}/assets/js/algorithms/main.js"></script>
  <script src="{{ site.url }}/assets/js/algorithms/acorn.js"></script>
  <script src="{{ site.url }}/assets/js/algorithms/interpreter.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <header>
            <h1 class="title-global">
                <!-- <a href="/algorithms">Algorithms &#120572;</a>-->
                <a href="http://componentsprogramming.com/algorithms">al-Khw&#257;rizm&#299; (&#120572;)</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="http://componentsprogramming.com/algorithms-about/">[About]</a></li>
                    <li><a href="http://componentsprogramming.com/algorithms-support/">[Support]</a></li>
                    <li><a href="http://componentsprogramming.com/algorithms-catalog/">[Catalog]</a></li>
                    <!-- <li><a href="catalog.html">[Catalog]</a></li> -->
                    <li><a href="http://componentsprogramming.com/">[Components Programming]</a></li>
                    <!-- <li><a href="http://componentsprogramming.com/algorithms-help/">[Help]</a></li> -->
                </ul>
            </nav>
            </header>
        </div>
        <div class="hg">
            <div class="hg-left">
                <div class="hg-left-b">
                    <pre id="codeHighlightPre"><code id="codeHighlight" class="javascript"></code></pre>

<textarea id="codeArea">
//CODE HERE!
var d = add_sequence(random_array(), "d");
</textarea>
    
</div>
                <div class="hg-left-c">
                    <div id="Buttons">
                        <button id="startButton" onclick="startButton()">Start (Ctrl-F9)</button>
                        <button id="stepButton" onclick="stepButton()" disabled="disabled">Step (&darr;)</button>
                        <button id="restartButton" onclick="restartButton()">Restart</button>
                        <button id="editButton" onclick="editButton()">Edit</button>
                    </div>​
                </div>

                <div class="hg-left-d">
                <!-- <div id="CopyrightDiv"> -->
                    <p id="CopyrightP">
                    <a id="Copyright" href="http://componentsprogramming.com/about-me/">Copyright &copy; Fernando Pelliccioni 2019.</a>
                    </p>
                <!-- </div>​ -->
                </div>
    
            </div>

            <div class="hg-right">
                <div id="hg-right-a" class="hg-right-a">
                    <div id="sequence"></div>                    
                </div>
                <div class="hg-right-b">
                    <div id="hg-right-b-a">
                        <div id="hg-right-x">
                            <div id="hg-right-x-a"></div>
                            <div id="hg-right-x-b"></div>
                        </div>
                        <!-- <div id="hg-right-y">
                            <pre id="outputPre"><code id="output" class="javascript"></code></pre>
                        </div> -->
                        <div id="hg-right-y"></div>
                        </div>
                        <div id="hg-right-b-b">
                            <textarea id="hg-right-b-b-data" readonly></textarea>
                        </div>
                </div>
            </div>
    
        </div>
    </div>
          
    <script>
            var lines = [];
            var prevLine = "";
            var myInterpreter;

            var iterators_colors = ['#99ff99', '#d80500', '#afafff', '#ffaff7', '#fdffaf'
                                  , '#affffb', '#ffe2af', '#d0afff', '#e1ffaf', '#ffafb9'];

            var iterators_int = {};
            var iterators_gui = {};
            var predicates = [];
            var sequences = {};
            var variables = {};

            // var skipped = ['skip_debug'];
            var skipped = [];

            var stats_it_moves = 0;
            var stats_it_cmps = 0;
            var stats_pred_appls = 0;
            var stats_swaps = 0;
            var stats_assigments = 0;
    
            // console.log(document.getElementById('hg-right-a').offsetWidth)
            // console.log(document.getElementById('hg-right-a').offsetHeight)

            var twp_width = document.getElementById('hg-right-a').offsetWidth
            var two_height = document.getElementById('hg-right-a').offsetHeight


            // console.log(twp_width)
            // console.log(two_height)


            var two = new Two({
                    fullscreen: false,
                    // width: document.getElementById('sequence').offsetWidth,
                    // height: 600,
                    width: twp_width,
                    height: two_height,
                    autostart: true
            }).appendTo(sequence);

            setSizes();
    
            // document.onkeypress = function (e) {
            //     e = e || window.event;
            //     console.log(e.keyCode)
            //     // // console.log(document.getElementById('stepButton').disabled);
            //     // if (e.keyCode == 13) {
            //     //     if (document.getElementById('stepButton').disabled) {
            //     //         startButton()
            //     //     }
            //     //     if ( ! document.getElementById('stepButton').disabled) {
            //     //         stepButton();
            //     //     }
            //     // }
            // }



            document.onkeydown = function (e) {
                e = e || window.event;
                    // console.log(e)
                // console.log(e.keyCode)

                if (e.ctrlKey && e.keyCode == 120) {
                    if (document.getElementById('stepButton').disabled) {
                        startButton()
                    }
                }

                if ( (e.ctrlKey && e.keyCode == 121) || (e.keyCode == 39)|| (e.keyCode == 40)) {
                    // if (document.getElementById('stepButton').disabled) {
                    //     startButton()
                    // }
                    if ( ! document.getElementById('stepButton').disabled) {
                        stepButton();
                    }
                }

            };        



            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("code");
            // console.log(c);

            if (c) {
                document.getElementById('codeArea').value = c;
            } else {

                var snippet = url.searchParams.get("snippet");
                // console.log(snippet)
                if ( ! snippet) {
                    snippet = "partition_semistable";
                }
                if (snippet) {
                    document.getElementById('codeArea').value = getSnippet(snippet);
                }
            }

            editButton();
        </script>      
</body>
</html>



<!-- 
function partition_semistable(f, l, p) {
    while (true) {
        if (equal(f, l)) return f;
        if (p(source(f))) break;
        f = successor(f);
    }

    //var j = f; 
    var j = copy_it(f, 'j', '#9000d8');
    j = successor(j)

    while ( ! equal(j, l)) {
        if ( ! p(source(j))) {
            iter_swap(f, j);
            f = successor(f);
        }
        j = successor(j);
    }

    remove_it(j);   //GUI stuff

    return f;
}

// var it = partition_semistable(f, l, function(x) {return x % 2 == 0;});

// var it = find_if(f, l, function(x) {return x % 2 == 0;});
//if ( ! equal(it, l)) {
//    print(source(it));
//}

function find_backward_if(f, l, p) {
    while ( ! equal(l, f) && ! p(source(predecessor(l, false)))) {
        l = predecessor(l);
    }
    return l;
}

//var it = find_backward_if(f, l, function(x) {return x % 2 == 0;});
//if ( ! equal(it, l)) {
//    print(source(predecessor(it, false)));
//}


function find(f, l, x) {
    while ( ! equal(f, l)) {
        if (source(f) == x) {
            return f;
        }
        f = successor(f)
    }
    return f;
} -->


        <!-- <p><textarea id="dataCodeArea">
data = [1, 3, 5, 2, 4, 8, 7, 2, 1, 3, 5, 2, 7, 8, 4];
pred = function(x) {return x % 2 == 0;};
        </textarea></p> -->

    <!-- <textarea id="code">
function find_if(f, l, p) {
    while ( ! equal(f, l) && ! p(source(f))) {
        f = successor(f)
    }
    return f;
}

function find_backward_if_not(f, l, p) {
    while ( ! equal(l, f) && p(source(predecessor(l, false)))) {
        l = predecessor(l);
    }
    return l;
}

function partition_bidirectional_unguarded(f, l, p) {
    while(true) {
        while ( ! p(source(f))) {
            f = successor(f)
        }

        l = predecessor(l);
        while (p(source(l))) {
            l = predecessor(l);
        }

        l = successor(l);
        if ( equal(l, f)) return f;

        l = predecessor(l);
        iter_swap(f, l);
        f = successor(f)
    }
}

function partition_bidirectional_optimized(f, l, p) {
    f = find_if(f, l, p);
    l = find_backward_if_not(f, l, p);
    if (equal(f, l)) return f;
    l = predecessor(l);
    iter_swap(f, l);
    f = successor(f)
    return partition_bidirectional_unguarded(f, l, p);

}

var f = begin(data, "f");
var l = end(data, "l", "#d80500");
var it = partition_bidirectional_optimized(f, l, pred);
                    </textarea> -->






<!-- 

                    <textarea id="dataCodeArea">
                            data = [1, 3, 5];
                            pred = function(x) {return x % 2 == 0;};
                                    </textarea>
                            
                                    <textarea id="codeArea">
                            function find_if_unguarded(f, p) {
                                while ( ! p(source(f))) {
                                    f = successor(f)
                                }
                                return f;
                            }
                            
                            var f = begin(data, "f");
                            var l = begin(data, "l");
                            
                            remove_it(l);
                            
                            var it = find_if_unguarded(f, pred);
                            
                            print(source(it))
                                    </textarea>                     -->