<!--
Copyright Fernando Pelliccioni 2019-2021

Distributed under the Boost Software License, Version 1.0. (See accompanying
file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Support - Algorithms</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/algorithms/style.css">
  <link href="/favicon.png" rel="icon">
  <script src="{{ site.url }}/assets/js/algorithms/main.js"></script>
  <script src="{{ site.url }}/assets/js/algorithms/acorn.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <header>
            <h1 class="title-global">
                <!-- <a href="/algorithms">Algorithms &#120572;</a>-->
                <a href="/algorithms">al-Khw&#257;rizm&#299; (&#120572;)</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/algorithms-about/">[About]</a></li>
                    <li><a href="/algorithms-support/">[Support]</a></li>
                    <!-- <li><a href="/algorithms-stdlib/">[Std Lib]</a></li>-->
                    <li><a href="/algorithms-catalog/">[Catalog]</a></li>
                    <li><a href="/algorithms-course/">[Course]</a></li>
                    <li><a href="/">[Components Programming]</a></li>

                    <!-- <li><a href="https://componentsprogramming.com/algorithms-help/">[Help]</a></li> -->
                </ul>
            </nav>
            </header>
        </div>
        <div class="hijo-grande">
                <main>
                    <nav>
                        <ul id=list>
                        </ul>
                    </nav>
                </main>
        </div>
    </div>

    <script>

        function process_catalog() {
            var code = global_std_code_extra;
            var p = acorn.parse(code);

            for (var n in p.body) {
                const value = p.body[n];
                if (value.type == 'FunctionDeclaration' && value.id.name == '__catalog') {
                    var fcode = code.substring(value.start, value.end);
                    fcode += '\n\nvar snippets_cat_temp = __catalog();';
                    // console.log(fcode);
                    // console.log(snippets_cat);
                    eval(fcode);
                    // console.log(snippets_cat);
                    break;
                }
            }

            for (var k in snippets_cat_temp) {
                // console.log(k, snippets_cat_temp[k])
                snippets_cat[k] = snippets_cat_temp[k][0];
            }

            console.log(snippets_cat);

            // console.log('end of process_snippets');
        }

        var snippets_cat = {};

        var url_string = window.location.href;
        var url = new URL(url_string);
        var user = url.searchParams.get("user");
        // console.log(user)
        if ( ! user) {
            user = "fpelliccioni";
        }

        var repo = url.searchParams.get("repo");
        // console.log(repo)
        if ( ! repo) {
            // repo = "tao-js";
            repo = "algorithm_course";
        }

        (async () => {
            try {
                await downloadStdCodeExtra(user, repo);
                process_catalog();
                fillCatalog();
            } catch (e) { console.log(e); }
        })();


        // fillCatalog();
    </script>

</body>
</html>